h3 {
    margin: 0.5em 0;
}

p {
    margin: 0.5em 0 2em;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    position: relative;
    width: 316px;
    border: 1px solid #ededed;
}

.card__img {
    order: -1;
}

.card__text {
    position: relative;
    margin-top: 0;
    margin-left: 28px;
    margin-bottom: 40px;
    color: #444444;
}

.card__text::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 260px;
    left: 0;
    bottom: -20px;
    background-color: #ececec;
}

.card__title {
    margin-top: 18px;
    margin-left: 28px;
    margin-bottom: 5px;
    font-family: "Verdana", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.card__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card__button {
    margin: 0 auto;
    text-decoration: none;
    display: block;
    width: 260px;
    padding: 0 10px;
    padding-top: 16px;
    padding-bottom: 19px;
    border: 2px solid #444444;
    color: #444444;
    font-size: 16px;
    font-family: inherit;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
}

.card__button:hover,
.card__button:focus {
    background-color: #444444;
    color: #ffffff;
}

.card__button:active {
    background-color: #444444;
    color: #797979;
}

.features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature {
    position: relative;
}

.feature::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -5px;
    background-repeat: no-repeat;
}

.feature--eco::before {
    width: 32px;
    height: 37px;
}

.feature--handmade::before {
    width: 34px;
    height: 34px;
}

.feature--gift::before {
    width: 33px;
    height: 33px;
}

.feature--like::before {
    width: 33px;
    height: 28px;
}