h3 {
    margin: 0.5em 0;
}

p {
    margin: 0.5em 0 2em;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    position: relative;
    width: 316px;
    border: 1px solid #ededed;
}

.card__img {
    order: -1;
}

.card__text {
    position: relative;
    margin-top: 0;
    margin-left: 28px;
    margin-bottom: 40px;
    color: #444444;
}

.card__text::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 260px;
    left: 0;
    bottom: -20px;
    background-color: #ececec;
}